@use 'sass:map';

$font-sizes: (
  'base+6': 2.027rem,
  'base+5': 1.802rem,
  'base+4': 1.602rem,
  'base+3': 1.424rem,
  'base+2': 1.266rem,
  'base+1': 1.125rem,
  'base': 1rem,
  'base-1': 0.889rem,
  'base-2': 0.79rem,
  'base-3': 0.702rem,
);

$chip-radius: 6px;

.aboutText {
  font-weight: 400;
  font-size: map.get($font-sizes, 'base+1');
  line-height: 1.4;

  margin-bottom: 1.4rem;
}

.underConstructionTag {
  display: inline-block;

  width: 100%;

  margin: 0.5rem 0;
}

.projectItem {
  display: flex;
  flex-direction: column;

  margin-top: 2rem;

  .date {
    font-size: map.get($font-sizes, 'base-2');
    font-weight: 400;
    line-height: 1;

    margin-bottom: 6px;
  }

  .titleGithubBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    margin-bottom: 4px;
  }

  .title {
    font-size: map.get($font-sizes, 'base+3');
    font-weight: 500;
    line-height: 1;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: #333;
    }
  }

  :not(a).title:hover {
    text-decoration-color: transparent;
  }

  .githubChip {
    background: #333;
    color: white;

    font-size: map.get($font-sizes, 'base-2');
    font-weight: 500;

    border-radius: $chip-radius;
    padding: 4px 8px;
  }

  .description {
    font-size: map.get($font-sizes, 'base+1');
    font-weight: 350;
    line-height: 1.4;

    margin-bottom: 10px;
  }

  .keywords {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .keyword {
    font-size: map.get($font-sizes, 'base-2');
    font-weight: 400;

    width: fit-content;

    border: 1px solid #333;
    border-radius: $chip-radius;
    padding: 4px 8px;
  }
}

.contactItem {
  font-weight: 600;
  font-size: map.get($font-sizes, 'base+1');

  display: block;

  margin-bottom: 0.875em;
}
